html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#e0f7fa, #b3e5fc);
}

.input-container,
.user-box {
  position: relative;
}

.input-container input,
.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background: transparent;
}

.input-container label,
.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  pointer-events: none;
  transition: .5s;
}

.input-container input:valid~label,
.user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #0288d1;
  font-size: 12px;
}

.inputButton {
  border: none;
  background: #0288d1;
  color: white;
  padding: 12px 24px;
  margin: 8px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.error,
.success {
    font-size: 14px;
    margin-left: 500px ;
}

.error {
    color: red;
}

.success {
    color: green;
}
.types-manager {
  max-width: 1200px;
  margin: 0 auto;
}

.page-title {
  margin-left: 340px;
  text-align: center;
  color: #0288d1;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.add-type {
  width: 45%;
  margin-left: 10px;
}

.types-list {
  margin-bottom: 20px;
  text-align: left;
  width: 45%;
  margin-left: 120px;

}

.types-list ul {
  margin-bottom: 30px;
  list-style-type: none;
  margin-left: 120px;
  padding: 0;
}

.types-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.types-list span {
  margin-bottom: 8px;
  font-size: 15px;
}

.types-list span strong {
  font-weight: bold;
  color: #0288d1;
}

.types-list input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
}

.types-list button {
  background-color: #0288d1;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.types-list button:hover {
  background-color: #0277bd;
}

.types-list button.cancel {
  background-color: #f44336;
}

.types-list button.cancel:hover {
  background-color: #c62828;
}

.types-list h2 {
  margin-left: 120px;

}
.add-type {
  margin-top: 20px;
  margin-left: 150px;
  text-align: left;
}

.add-type h2 {
  margin-bottom: 10px;
  margin-left: 120px;

}
.add-type button {
  margin-bottom: 10px;
  margin-left: 120px;

}

.add-type input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left: 120px;

}
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group select,
.form-group input,
.form-group textarea{
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-group text {
  margin-left: -10;
}