@import url('../../assets/common.css');  

.register-box {
  margin-bottom:2%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.register-box h2 {
  margin: 0 0 20px;
  padding: 0;
  color: #000;
  text-align: center;
}

.register-box .button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
